page-home {
    .home-tab{ padding-top: 26px; height: 74px; line-height: 44px; border-bottom: 1px solid #444444; font-size: 16px; padding-left: 14px; background-color: #f8f8f8; color: #424242;}
    .home-tab2{ padding-top: 26px; height: 72px;}
    .home-grid{ margin-top: 14px; text-align: center; padding:22px 0;}
    .home-grid img{ width: 60%;}
    .home-grid-list{ position: relative;}
    .home-grid-list .badge{ position: absolute; top: 0; right: 10%;}
    .home-grid img{ border-radius: 18px;}
}
