page-work-order {
 .work-order ion-label{ white-space: normal;}
 .work-order .item-ios ion-avatar img{ border-radius: 0%; overflow: hidden; width: 60px; height: 60px;}
 .work-order .list-header-md{ background-color: #f8f8f8;}
}
