page-maintenance-details {
    .order-info{ background-color: #f8f8f8;}
    .order-desc ion-label{ white-space: normal; line-height: 24px;}
    .img-up{ margin-top: 10px; white-space: normal;}
    .img-up img{ width: 80px; height: 80px; margin-right: 10px; margin-bottom: 10px;}
    .PLem1{ width: 1em; display: inline-block;}
    .PLem2{ width: 2em; display: inline-block;}
    .creat-textarea textarea{ width: 100%; resize: none; border: 0;}
}
