page-operations{
    .operations-tit{ padding-left: 0; background-color: #f8f8f8;}
    .operations-tit .item-inner{ padding-left: 16px;}
    .button-inner{ font-size: 14px;}
    .note{ font-size: 14px;}
    ion-label{ white-space: normal;}
    .item-ios ion-avatar img{ border-radius: 0%; overflow: hidden; width: 60px; height: 60px;}
}
